*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.calculator{
  border: 1px solid black;
  height: 450px;
  width: 300px;
  padding: 16px;
  background-color: #FFD65A;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

div input{
  border: 1px solid black;
  height: 125px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #f0f0f0;
  text-align: right;
  font-size: 32px;
}



#btn-clear{
  width: 196px;
  height: 50px;
  margin-right: 16px;
  background-color: #F93827;
}

#btn-clear:active{
  opacity: 0.6;
}

#btn-equal{
  background-color: #F93827;
}

#btn-equal:active{
  opacity: 0.6;
}

button{
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  border-radius: 10px;
}

.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#btn-zero{
  width: 196px;
  height: 50px;
}

.digit{
  background-color: #16C47F;
}
.digit:active{
  opacity: 0.6;
}

.operator{
  background-color: #FF9D23;
}

.operator-active{
  opacity: 0.6;
}